.navbar{
    background-color: white !important;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    width: 100%;
    z-index: 20;
}
.navbar-brand{
    font-size: 32px;
    font-family: 'karla', 'sofia-pro', sans-serif;
    font-weight: bold;
    color: #3d3d3d !important;
    text-decoration: none;
}
.navbar-brand:hover{
    color: black !important;
}
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}
.nav-item{
    font-family: 'nunito sans', sans-serif;
    font-size: 18px;
    color:#565656 !important;
    margin-left: 30px;
    font-weight: 600;
}
.nav-item:hover{
    color: black !important;
}
.active{
    text-decoration: underline;
    color: black !important;
}


/*
nav{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
}
.logo {
    font-size: 32px;
    font-family: 'karla', 'sofia-pro', sans-serif;
    font-weight: bold;
    color: #3d3d3d;
    text-decoration: none;
}
.logo:hover {
    color: black;
}
li.nav{
    display: inline;
    font-family: 'nunito sans', sans-serif;
    font-size: 18px;
    color:#565656;
    margin-left: 100px;
    font-weight: 600;
}
li.nav:hover {
    color: black;
    font-weight: 600;
    cursor: pointer;
}
li.on {
    text-decoration: underline;
    color: black;
}
*/

.jumbotron{
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: calc(60vh);
    display: flex;
    justify-content: center;
}
.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: black;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 120px;
    margin-bottom: 15px;
    font-family: 'karla', 'sofia-pro', sans-serif;
    font-weight: bold;
}
.container{
    margin-top: 80px;
}
.row{
    margin-left: 50px;
    margin-right: 50px;
}
.col{
    margin-top: 40px;
}
.card{
    box-shadow: 0 0 8px 0 rgba(77, 77, 77, 0.192);
    border: none;
    border-radius: 0;
}
.card:hover{
    transform: scale(1.04);
    cursor: pointer;
}



h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 44px;
}
footer{
    display: flex;
    background-color: #F3F3F3;
    height: 225px;
    margin-top: 8%;
}
.social {
    display: inline-flex;
}
.socialIcon {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
